<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>게시글 목록</h1>
            <a href="/posts/create" class="btn btn-primary">글쓰기</a>
        </div>

        <table class="table table-hover table-bordered bg-white shadow-sm align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th style="width: 70px;">번호</th>
                    <th style="width: 300px;">제목</th>
                    <th style="width: 200px;">작성자</th>
                    <th style="width: 200px;">등록일자</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:if="${list == null || list.isEmpty()}">
                    <tr>
                        <td colspan="4" class="text-muted">조회된 데이터가 없습니다.</td>
                    </tr>
                </th:block>
                <th:block th:each="post : ${list}">
                    <tr th:object="${post}" th:with="createdAtVal=*{createdAt}">
                        <td th:text="*{no}">1</td>
                        <td>
                            <a th:href="@{/posts/read/{no}(no=*{no})}" th:text="*{title}"></a>
                        </td>
                        <td th:text="*{writer}">작성자</td>
                        <td th:text="${#dates.format(createdAtVal, 'yyyy-MM-dd HH:mm:ss')}">날짜</td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>
</html>
